@font-face {
  font-family: myFont;
  src: url(Courgette.ttf);
}

body {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(#ff0000, #946e6e 60%, pink 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.container {
  max-width: 1200px;
  max-height: 960px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}


.display-1{
  font-family: myFont;
  font-size: 7vw;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px 
  rgba(182, 39, 39, 0.8);
  text-align: center;
  width:100%;
}

#phrase {
    font-family: myFont;
    font-size: 7vw;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px 
    rgba(182, 39, 39, 0.8);
    text-align: center;
    width: 100%;
}

.quote {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.heart-1 {
  left: 5%;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.heart-2 {
  left: 15%;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.heart-3 {
  left: 25%;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
}

.heart-4 {
  left: 35%;
  animation-duration: 2.9s;
  animation-iteration-count: infinite;
}

.heart-5 {
  left: 45%;
  animation-duration: 2.6s;
  animation-iteration-count: infinite;
}

.heart-6 {
  left: 55%;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

.heart-7 {
  left: 65%;
  animation-duration: 2.7s;
  animation-iteration-count: infinite;
}

.heart {
  position: relative;
  display: inline-block;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  animation-name: drop;
  animation-timing-function: ease-in;
}
.heart::after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart::before {
  content: "";
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes drop {
  0% {
    top: -55px;
  }
  100% {
    top: 900px;
    opacity: 0.2;
  }
}


@media only screen and (min-device-width: 480px) {

  .heart {
    height: 25px;
    width: 25px;
  }
  .heart::after {
    width: 25px;
    height: 25px;
    left: 12.5px;
  }
  .heart::before {
    width: 25px;
    height: 25px;
    top: -12.5px;
  }
}
